<div class="container">
  <form class="filterForm" (ngSubmit)="filterBooks()" [formGroup]="filterData">
    <select formControlName="filterValue">
      <option value="all">Show All</option>
      <option value="available">Show Available</option>
      <option value="unavailable">Show Unavailable</option>
      
    </select>
    <button class="filterBtn" type="submit">Filter</button>
  </form>

  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Author</td>
        <td>Category</td>
        <td>Tags</td>
        <td>Status</td>
      </tr>
    </thead>

    <tbody *ngIf="showAll">
      <tr *ngFor="let item of books; let i = index">
        <td class="tData">{{ item.Id }}</td>
        <td class="tData">{{ item.title }}</td>
        <td class="tData">{{ item.author }}</td>
        <td class="tData">{{ item.category }}</td>
        <td class="tData">{{ item.tags }}</td>
        <td class="tData">{{ item.status }}</td>
      </tr>
    </tbody>

    <tbody *ngIf="showUnavailable">
      <tr *ngFor="let item of unavailableBooks; let i = index">
        <td class="tData">{{ item.Id }}</td>
        <td class="tData">{{ item.title }}</td>
        <td class="tData">{{ item.author }}</td>
        <td class="tData">{{ item.category }}</td>
        <td class="tData">{{ item.tags }}</td>
        <td class="tData">{{ item.status }}</td>
      </tr>
    </tbody>

    <tbody *ngIf="showAvailable">
      <tr *ngFor="let item of availableBooks; let i = index">
        <td class="tData">{{ item.Id }}</td>
        <td class="tData">{{ item.title }}</td>
        <td class="tData">{{ item.author }}</td>
        <td class="tData">{{ item.category }}</td>
        <td class="tData">{{ item.tags }}</td>
        <td class="tData">{{ item.status }}</td>
      </tr>
    </tbody>
  </table>

  <div class="controls">
    <!-- <button (click)="addBook()" class="btnCtrl">Add Book</button> -->
    <button class="btnCtrl" (click)="toggleModal()">Issue Book</button>
  </div>
</div>

<!-- <div *ngIf="bookModal" class="addModal">

  <form (ngSubmit)="addBook()" [formGroup]="formData">
    <p id="formTitle">Enter Book Details</p>
    <input type="text" placeholder="Enter Title..." formControlName="title">
    <p *ngIf="book['title'].errors?.hasOwnProperty('required')">Field is required.</p> 
    <input type="text" placeholder="Enter Author's Name..." formControlName="author">
    <input type="text" placeholder="Enter Category..." formControlName="category">
    <input type="text" placeholder="Enter Tags..." formControlName="tags">
    <select formControlName="status">
      <option value="0">Unavailable</option>
      <option value="1">Available</option>
    </select>

    <button type="submit" id="addBtn">Add Book</button>

  </form>
</div> -->

<div *ngIf="issueModal" class="issueModal">
  <form (ngSubmit)="issueBook()" [formGroup]="issueData">
    <label>Select User</label>
    <select formControlName="user_id">
      <option *ngFor="let user of users" [value]="user.id">
        {{ user.name }}
      </option>
    </select>
    <label>Select Book</label>
    <select formControlName="book_id">
      <option *ngFor="let book of books" [value]="book.Id">
        {{ book.title }}
      </option>
    </select>
    <button id="issueBtn">Issue Book</button>
  </form>
</div>
